/* 

BD Jupiter Regular
font-family: bd-jupiter, sans-serif;
font-weight: 400;
font-style: normal;

BD Jupiter Bold

font-family: bd-jupiter, sans-serif;
font-weight: 700;
font-style: normal;

BD Jupiter Stencil

font-family: bd-jupiter-stencil, sans-serif;
font-weight: 400;
font-style: normal;

BD Jupiter Stencil Bold

font-family: bd-jupiter-stencil, sans-serif;
font-weight: 700;
font-style: normal;

font-family: 'Montserrat', sans-serif;  */


            
body {
font-family: 'Montserrat', sans-serif;
color: #00651B;
}

h1, h2, h3, h4, h5, h6 {
font-family: bd-jupiter, sans-serif;
font-weight: 400;
font-style: normal;
}
}

                 /*    language button*/

/

.nav-wrapper {
  text-align: center;
}
  .sl-nav {
  margin-bottom: -2rem;
}
.sl-nav ul {
  
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
  cursor: pointer;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li:hover ul {
  position: absolute;
  top:29px;
  right:-15px;
  display: block;
  background: transparent;
  width: 120px;
  z-index: 1;
  border-radius:5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index:10;
  height: 14px;
  overflow:hidden;
  width: 30px;
  background: transparent;
}
.sl-nav li:hover .triangle:after {
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius:2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: #FDD12D;
  padding: 1rem 1rem;
  padding-bottom:0;
  z-index: 2;
  font-size: 15px;
}
.sl-nav li ul li:hover {
  position: relative;
  text-align: left;
  background: #FDD12D;
  padding: 1rem 1rem;
  padding-bottom:0;
  z-index: 2;
  font-size: 15px;
  color: #C76711;
}
.sl-nav li:hover .triangle:after {
  background-color: #FDD12D;


}

header i:hover{
  color:#C76711;
}

                     /*  Nav Bar */

header{
background-color: #FDD12D;
color: #00651B;
font-family: bd-jupiter, sans-serif;
font-weight: 400;
font-style: normal;
padding-top: 0;
padding: 0;
}
header a{
  font-family: bd-jupiter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  color: #00651B;
}

header a:hover {
  font-family: bd-jupiter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  color: #C76711;
}
header img{
  width: 40%;
  cursor: pointer;
}

.show-for-small-only {
color: #00651B;
padding: 1.2rem ;
position: relative;
text-align: right;
}
/*                    Hero section          */
.hero {
  height: 100vh;
  display: grid;
  place-items: center;
  background: url(../img/background-site.png);
  background-size: cover;
}

.hero h1 {
  font-family: bd-jupiter, sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 2rem rgba(0,0,0,.4);
}

@media screen and (min-width: 40em){
  .hero h1 {
    font-size: 7.5rem;
  }
}

body {
  margin: 0;
}



/*Welcome section*/

#welcome {
  background-color:#FDD12D;

padding: 2rem;

}
#welcome h1 {
  color: #00651B;
  font-size: 4rem;
}

@media screen and (min-width: 40em){
  #welcome h1 {
    font-size: 5rem;
  }
}

#welcome p {
  font-size: 1rem;
}

@media screen and (min-width: 40em){
#welcome p {
  font-size: 1.5rem;
}
}


                             /* Check-in Form */

table {
margin-right: auto;
margin-left: auto;
font-family: 'Montserrat', sans-serif;
padding-top: 2rem;
}

@media screen and (min-width: 40em){
table {
width: 70%;
margin-right: auto;
margin-left: auto;
font-family: 'Montserrat', sans-serif;
padding-top: 5rem;

}

}

.form h3 {
  color:#FDD12D ;
  padding-top: 2rem;

}

thead {
  font-family: 'Montserrat', sans-serif;
  color: #00651B;
  background-color:#00651B;
}

.form h5 {
color:#FDD12D;

}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  box-sizing: none;
  margin: 0;
  border: 0;
  color: #00651B;
  border-color: #00651B;
  border-radius: 10px;
}

.form .button {
  font-family: bd-jupiter, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FDD12D ;
  font-size: 1rem;
  background-color: #009334;
  border-radius: 10px;
}

.form .button:hover {
  font-family: bd-jupiter, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FDD12D ;
  font-size: 1rem;
  background-color: #C76711;
  border-radius: 10px;
}

    
                          /*          POP UP WINDOW */

#confirmation-overlay.reveal {

   background:  url(../img/form-background-01.png) 100%;
   background-size: cover;
}

#confirmation-overlay.reveal h1 {
  color:#FDD12D;
  font-weight: 600;
  padding: 0;
  font-size: 4.5rem;
}
#confirmation-overlay.reveal h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 40em){
#confirmation-overlay.reveal h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
}

.close-button {
  color: #FDD12D;
}

.reveal-padding{
  padding: 0;
}


.datepicker td span.month.disabled, .datepicker td span.year.disabled, .datepicker td.day.disabled {
  color:#C76711  ;

}
.datepicker td.new, .datepicker td.old {
  color:#C76711 

}
.datepicker.dropdown-menu {

  color:#C76711 

}


.datepicker td span.active, .datepicker td.active.day, .datepicker td.active.year {
  background: #FDD12D;
}




               /*Rooms*/
#quartos{
  padding: 7rem 2.5rem;
}

#quartos h3 {
  font-size: 2.5rem;
  color: #00651B;
  padding-bottom: 1rem;

}
#quartos h4 {
  font-size: 2rem;
  padding-top: 1.2rem;
  text-align: center;
  cursor: pointer;
}

#quartos h4:hover {
  font-size: 2rem;
  padding-top: 1.2rem;
  text-align: center;
  cursor: pointer;
  color: #C76711
}
#quartos p {
  font-size: .95rem;

}




            /*  Quote Section*/
#quote {
padding: 5rem 0;
background-color:#FDD12D;

}
#quote a.button {
  color:#00651B ;
  background-color: transparent;
  border-color: #00651B;
}
#quote a.button:hover {
  color:#C76711 ;
  background-color: transparent;
  border-color: #C76711
}
#quote h1 {
  font-family:'Montserrat', sans-serif;;
  font-style: italic;
  font-weight: 600 ;
  font-size: 2rem;
  color: #00651B;
  padding-bottom: 1rem;
}
@media screen and (min-width: 40em){
#quote a.button {
  color:#00651B ;
  background-color: transparent;
  border-color: #00651B;
}
#quote a.button:hover {
  color:#C76711 ;
  background-color: transparent;
  border-color: #C76711
}
#quote h1{
  font-family:'Montserrat', sans-serif;;
  font-style: italic;
  font-weight: 600 ;
  padding: 5rem 13rem;
  color:  #00651B;
}
}



.orbit-previous:hover, .orbit-next:hover, .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
background-color:#C76711;

}

              /*Canoagem Section*/
#canoagem {
  padding: 7rem 2.5rem;


}
#canoagem h2 {
  font-size: 3rem;
  text-align: center;
  padding: 0 5rem;
  color: #C76711;
}
#canoagem p {
  padding: 0rem 3rem;
  text-align:center ;
}

#canoagem .button {
  background-color:#009334;
  color:#ffffff;

}
#canoagem .button:hover {
  background-color:#FDD12D;
  color:#ffffff;

}

              /*Indios Section*/
.indios {
  padding: 7rem 2.5rem;
  background-color: #C76711;
}
.indios h2 {
  font-size: 3rem;
  color: #FDD12D;

}
.indios p {
  color: white;
}


.indios .button {
  background-color:#009334;
  color:#ffffff;

}
.indios .button:hover {
  background-color:#FDD12D;
  color:#ffffff;

}


              /*Floresta Section*/
.floresta {
   padding: 7rem 2.5rem;

}


.floresta h2 {
  font-size: 3rem;
  text-align: center;
  padding: 0 5rem;
  color: #C76711;
}
.floresta p {
  padding: 0rem 3.5rem;
  text-align:center ;
}

.floresta .button {
  background-color:#009334;
  color:#ffffff;

}
.floresta .button:hover {
  background-color:#FDD12D;
  color:#ffffff;

}

              /*Dentro Section*/

.dentro {
  padding: 5rem 0

}

.dentro h1 {
  font-size: 4rem;
  padding: 0 3rem 3rem 3rem;
}


@media screen and (min-width: 40em){

.dentro {
  padding: 5rem  0 5rem 0;

}

.dentro h1 {
  font-size: 4.5rem;
}


  }

.dentro img {
  width: 80%;

}

.dentro h4{
  font-size: 2rem;
  padding-top: 1.2rem;
  cursor: pointer;
}
 .dentro h4:hover {
  font-size: 2rem;
  padding-top: 1.2rem;
  cursor: pointer;
  color: #C76711;
  }

@media screen and (min-width: 40em){

.dentro h4{
  padding-top: 1.2rem;
  font-size: normal;
  cursor: pointer;
}

}
            

              /*Footer Section*/
footer {
  background-color: #FDD12D;

}

@media screen and (min-width: 40em){
footer {
  padding: 2rem;
  background-color: #FDD12D;

}


}



footer h5{
  cursor: pointer;
  padding-top: 0;
  margin-bottom: 0;
  text-align: center;  
}

footer h5:hover{
  cursor: pointer;
  padding-top: 0;
  margin-bottom: 0;
  text-align: center; 
  color: #C76711 ; 
}



footer li {
  list-style: none;
  font-size: .8rem;
}

footer p {
  padding: 0 10rem;
  font-size: .8rem;

}
@media screen and (min-width: 40em){
footer p {
  padding: 0;
  font-size: .8rem;
}
}


footer img {
  width: 30%;
}

@media screen and (min-width: 40em){
  footer img {
  width: 70%;
}

}


footer .button {
  font-family: bd-jupiter, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FDD12D ;
  font-size: 1rem;
  background-color: #009334;
  border-radius: 10px;
}
footer .button:hover {
  font-family: bd-jupiter, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FDD12D ;
  font-size: 1rem;
  background-color: #C76711;
  border-radius: 10px;
}


.fa-solid {
  padding-right: .3rem;
  font-size: 1rem;
  cursor: pointer;

}
.fa-solid:hover {
  padding-right: .3rem;
  font-size: 1rem;
  cursor: pointer;
  color: #C76711;

}

.fa-brands {
  font-size: 1.5rem;
  margin-right: .3rem;
  cursor: pointer;

}

.fa-brands:hover {
  font-size: 1.5rem;
  margin-right: .3rem;
  cursor: pointer;
  color:#C76711 ;
}










